body{
    background-color: aquamarine;
    background-image: url(https://images.pexels.com/photos/39578/imac-ipad-computer-tablet-39578.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-repeat: no-repeat;
    background-attachment : fixed;
    background-size: cover;
}
.calendar-wrapper {
    max-width: 280px;font: 100% system-ui;
   margin-left: 41%;
}
.calendar {
    display: grid;grid-template-columns: repeat(7, 1fr);
}
    .first-day {
        grid-column-start: 3;
        outline-color: azure;
    }
    .day-name {
        background: rgb(13, 13, 13);
    }
    h1 {
        text-align: center;
        color: #42c58a;
    }
    ol {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    li {
        padding: 2px;
        color: #DC143C;
    }
    body {
        margin:0px;text-align:center;
    }
    #container {
        color:rgb(76, 9, 9);text-transform: uppercase;
        font-size:36px;
        font-weight:bold;
        padding-top:200px;
        position:fixed;
        width:100%;
        bottom:45%;
        display:block;
    }
    #flip {
        height:50px;
        overflow:hidden;
    }
    #flip > div > div {
        color:#fff;
        padding:4px 12px;
        height:45px;
        margin-bottom:45px;
        display:inline-block;
    }
    #flip div:first-child {
        animation: show 5s linear infinite;
    }
    #flip div div {
        background:#42c58a;
    }
    #flip div:first-child div {
        background:#4ec7f3;
    }
    #flip div:last-child div {
        background:#DC143C;
    }
    @keyframes show 
    {
    0% {
        margin-top:-270px;
    }
    5%{margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
}


